<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}">
    <link rel="shortcut icon" th:href="@{/images/logo-icon.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <title>Cadastro de Aluno</title>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "glxgi3gmgy");
    </script>
</head>

<body style="background-image: url(/images/card-6.svg);">
    <div vw class="enabled" th:replace="fragments/vlibras :: vlibras"></div>
    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-8">
                    <a href="/" class="d-block text-center pr-3">
                        <img th:src="@{/images/logo.png}" style="width: 16rem;" alt="Logotipo do Caça-Talentos">
                    </a>
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-12">
                                <div class="card-body p-md-4 mx-md-4">
                                    <div class="text-center">
                                        <h3 class="m-0 p-0">Criar conta</h3>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-muted small">Já tem uma conta? <a class="text-decoration-none"
                                                th:href="@{/login}">Entre aqui</a></p>
                                    </div>
                                    <div class="mb-3 mt-2 text-center">
                                        <label class="m-1 d-block text-muted small">Quero me cadastrar como...</label>
                                        <div class="btn-group" role="group" style="z-index: 0;">
                                            <a class="btn btn-outline-danger active" aria-current="page" for="pagAluno"
                                                th:href="@{/cadastro/aluno}">
                                                Aluno
                                            </a>
                                            <a class="btn btn-outline-danger" for="pagEmpresa"
                                                th:href="@{/cadastro/empresa}">
                                                Empresa
                                            </a>
                                        </div>
                                    </div>
                                    <form class="row justify-content-center needs-validation" method="POST"
                                        th:action="@{/cadastro/aluno}" th:object="${aluno}" novalidate>
                                        <div class="form-outline mb-3 col-8">
                                            <label for="nome" class="form-label">Nome de Usuário</label>
                                            <input type="text" class="form-control" id="nome" name="nome"
                                                placeholder="Nome do usuário" required>
                                            <div class="invalid-feedback">
                                                Forneça um Nome!
                                            </div>
                                        </div>
                                        <div class="form-outline mb-3 col-4">
                                            <label for="cpf" class="form-label">CPF</label>
                                            <input type="text" class="form-control" id="cpf" name="cpf"
                                                placeholder="000.000.000-00" required>
                                            <span id="resposta"></span>
                                            <div class="invalid-feedback">
                                                Forneça um CPF!
                                            </div>
                                        </div>
                                        <div class="form-outline mb-3 col-8">
                                            <label for="email" class="form-label">Email de Usuário</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                placeholder="email@email.com" required>
                                            <div class="invalid-feedback">
                                                Forneça um Email!
                                            </div>
                                        </div>
                                        <div class="form-outline mb-3 col-4">
                                            <label for="senha" class="form-label">Senha</label>
                                            <input type="password" class="form-control" id="senha" name="senha"
                                                required>
                                            <div class="invalid-feedback">
                                                Forneça uma Senha!
                                            </div>
                                        </div>
                                        <div class="text-center col-6 mt-4">
                                            <button class="btn btn-danger gradient-custom-2 w-100 mb-3" type="submit">Cadastrar</button>
                                            <a class="text-decoration-none" th:href="@{/login}">
                                                <button class="btn btn-outline-dark w-100" type="button" >Cancelar</button>
                                            </a>
                                        </div>                               
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/cep.js}"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity()) {
                            alertDialog("Cadastro realizado com sucesso!", "Sucesso!")
                        } else {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <script type="text/javascript">
        $("#cpf").mask("000.000.000-00");
    </script>
</body>

</html>