<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Perfil Aluno</title>

	<!-- Custom fonts for this template-->
	<link rel="shortcut icon" th:href="@{/images/logo-icon.ico}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/dark-mode.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/contras-mode.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<!-- Custom styles for this template-->

	<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">
	<script type="text/javascript">
		(function (c, l, a, r, i, t, y) {
			c[a] = c[a] || function () {
				(c[a].q = c[a].q || []).push(arguments)
			};
			t = l.createElement(r);
			t.async = 1;
			t.src = "https://www.clarity.ms/tag/" + i;
			y = l.getElementsByTagName(r)[0];
			y.parentNode.insertBefore(t, y);
		})(window, document, "clarity", "script", "glxgi3gmgy");
	</script>
</head>

<body id="page-top">
	<header th:replace="fragments/accessibilityBarStudent :: accessibilityBarStudent"></header>
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<!-- <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar" th:replace="fragments/SidebarStudent :: SidebarStudent"></ul> -->

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:replace="fragments/navBarStudent :: navBarStudent"></nav>
				<ul class="nav justify-content-center navbar-light bg-white shadow"
					th:replace="fragments/navTabsStudent :: navTabsStudent">
				</ul>
				<div vw class="enabled" th:replace="fragments/vlibras :: vlibras"></div>

				<div class="container-fluid mt-4">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Perfil Aluno</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a class="text-gray-800" th:href="@{/s}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Perfil Aluno</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="card mb-4">
								<div class="card-body text-center">
									<img alt="avatar de usuário" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
										alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
									<h5 class="my-3" th:text="${aluno.nome}"></h5>
									<div class="d-flex justify-content-center mb-2">
									</div>
								</div>
							</div>
							<div class="card mb-4 mb-lg-4">
								<div class="card-body">
									<h5 class="card-title">Habilidade</h5>
									<h6 class="card-subtitle mb-2 text-muted">Habilidades e conhecimentos do Aluno</h6>
									<p class="card-text" th:text="${aluno.habilidades}"></p>
								</div>
							</div>
							<div class="card mb-4 mb-md-0">
								<div class="card-body">
									<p class="mb-4"><span class="text-primary font-italic me-1">Status</span> Projeto
										Desenvolvidos
									</p>
									<p class="mb-1" style="font-size: .77rem;">Web Design</p>
									<div class="progress rounded" style="height: 5px;">
										<div class="progress-bar" role="progressbar" style="width: 80%"
											aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
									<div class="progress rounded" style="height: 5px;">
										<div class="progress-bar" role="progressbar" style="width: 72%"
											aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
									<div class="progress rounded" style="height: 5px;">
										<div class="progress-bar" role="progressbar" style="width: 89%"
											aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
									<div class="progress rounded" style="height: 5px;">
										<div class="progress-bar" role="progressbar" style="width: 55%"
											aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
									<div class="progress rounded mb-2" style="height: 5px;">
										<div class="progress-bar" role="progressbar" style="width: 66%"
											aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="card mb-4">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Nome de usuário</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.nome}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">RA</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.ra}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">CPF</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.cpf}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Data de Nascimento</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.dataNasc}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Cep</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.cep}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Bairro</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.bairro}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Cidade</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.cidade}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Logradouro</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.logradouro}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Número</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.numero}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Complemento</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.complemento}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">UF</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.uf}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Email de usuário</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.email}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Telefone</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.telefone}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Celular</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${aluno.whatsapp}"></p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="card mb-4 mb-md-0">
										<div class="card-body">
											<p class="mb-4"><span class="text-primary font-italic me-1">Projeto
													Desenvolvidos</span>
											</p>
											<div class="d-flex justify-content-between align-items-center mb-4">
												<p class="lead fw-normal mb-0">Fotos recentes</p>
											</div>
											<div class="row g-2">
												<div class="col mb-2">
													<img alt="foto de uma floresta durante a estação de outono" src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
														alt="image 1" class="w-100 rounded-3">
												</div>
												<div class="col mb-2">
													<img alt="foto de uma cachoeira vista de cima" src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
														alt="image 1" class="w-100 rounded-3">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<footer class="sticky-footer bg-white" th:replace="fragments/footer :: footer"></footer>

		</div>
	</div>
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true" th:replace="fragments/logoutModal :: logoutModal"></div>

    <!-- Custom scripts for all pages-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/jquery.easing.min.js}"></script>
	<!-- <script th:src="@{js/sb-admin-2.js}"></script> -->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/color-mode-switch.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</body>

</html>