<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Atualizar Cadastro da Empresa</title>

	<!-- Custom fonts for this template-->
    <link rel="shortcut icon" th:href="@{/images/frame.ico}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dark-mode.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

	<!-- Custom styles for this template-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">

</head>

<body id="page-top">
    <header th:replace="fragments/accessibilityBar :: accessibilityBar"></header>
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar" th:replace="fragments/SidebarAdmin :: SidebarAdmin"></ul>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:replace="fragments/navBarAdmin :: navBarAdmin"></nav>
                <div vw class="enabled" th:replace="fragments/vlibras :: vlibras"></div>

				<div class="container-fluid">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Atualizar Cadastro da Empresa</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a class="text-gray-800" th:href="@{/a}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Atualizar cadastro Empresa</li>
							</ol>
						</nav>
					</div>
					<form class="row g-3" method="POST"
						th:action="@{/a/empresas/atualizar/{cnpj}(cnpj=${empresa.cnpj})}" th:object="${empresa}">

						<div class="col-12">
							<label for="nome" class="form-label">Nome da Empresa</label>
							<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da Empresa"
								required th:value="${empresa.nome}">
						</div>
						<div class="col-md-4">
							<label for="cnpj" class="form-label">CNPJ</label>
							<input type="text" class="form-control" id="cnpj" name="cnpj"
								placeholder="xx.xxx.xxx/xxxx-xx" required th:value="${empresa.cnpj}">
						</div>
						<div class="col-md-4">
							<label for="dataCriacao" class="form-label">Data de Criação</label>
							<input type="date" class="form-control" id="dataCriacao" name="dataCriacao" required
								th:value="${empresa.dataCriacao}">
						</div>
						<div class="col-md-4">
							<label for="areaNegocio" class="form-label">Área de Negócio</label>
							<input type="text" class="form-control" id="areaNegocio" name="areaNegocio"
								placeholder="Ex: Saúde, segurança etc... " required th:value="${empresa.areaNegocio}">
						</div>
						<div class="col-md-3">
							<label for="cep" class="form-label">Cep</label>
							<input type="text" class="form-control" id="cep" name="cep" placeholder="00000-000" required
								th:value="${empresa.cep}">
						</div>
						<div class="col-md-4">
							<label for="bairro" class="form-label">Bairro</label>
							<input type="text" class="form-control" id="bairro" name="bairro" required
								th:value="${empresa.bairro}">
						</div>
						<div class="col-md-3">
							<label for="cidade" class="form-label">Cidade</label>
							<input type="text" class="form-control" id="cidade" name="cidade" required
								th:value="${empresa.cidade}">
						</div>
						<div class="col-md-2">
							<label for="uf" class="form-label">UF</label>
							<input type="text" class="form-control" id="uf" name="uf" th:value="${empresa.uf}">
						</div>
						<div class="col-6">
							<label for="logradouro" class="form-label">Logradouro</label>
							<input type="text" class="form-control" id="logradouro" name="logradouro"
								placeholder="Rua 1234" required th:value="${empresa.logradouro}">
						</div>
						<div class="col-md-3">
							<label for="numero" class="form-label">Número</label>
							<input type="text" class="form-control" id="numero" name="numero" required
								th:value="${empresa.numero}">
						</div>
						<div class="col-md-3">
							<label for="complemento" class="form-label">Complemento</label>
							<input type="text" class="form-control" id="complemento" name="complemento"
								th:value="${empresa.complemento}">
						</div>
						<div class="col-md-6">
							<label for="email" class="form-label">Email de usuário</label>
							<input type="email" class="form-control" id="email" name="email"
								placeholder="email@email.com" required th:value="${empresa.email}">
						</div>
						<div class="col-md-6">
							<label for="senha" class="form-label">Senha</label>
							<input type="password" class="form-control" id="senha" name="senha" required>
						</div>
						<div class="col-md-6">
							<label for="telefone" class="form-label">Telefone</label>
							<input type="text" class="form-control" id="telefone" name="telefone"
								placeholder="(xx) xxxxx-xxxx" th:value="${empresa.telefone}">
						</div>
						<div class="col-md-6">
							<label for="whatsapp" class="form-label">Celular</label>
							<input type="text" class="form-control" id="whatsapp" name="whatsapp"
								placeholder="(xx) xxxxx-xxxx" required th:value="${empresa.whatsapp}">
						</div>

						<div class="col-md-12">
							<label for="descricao">Descrição</label>
							<div class="form-floating">
								<textarea class="form-control" placeholder="Descrição" id="descricao" name="descricao"
									style="height: 70px" th:text="${empresa.descricao}"></textarea>
							</div>
						</div>

						<div class="col-12">
							<button type="submit" class="btn btn-primary">Atualizar</button>
						</div>
					</form>
				</div>
			</div>
            <footer class="sticky-footer bg-white" th:replace="fragments/footer :: footer"></footer>

		</div>
	</div>
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-muted modal-title" id="exampleModalLabel">Pronto para partir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="text-muted modal-body">Selecione "Logout" abaixo se estiver pronto para encerrar sua sessão atual.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
	<script>
		$(document).ready(function () {

			function limpa_formulário_cep() {
				// Limpa valores do formulário de cep.
				$("#logradouro").val("");
				$("#bairro").val("");
				$("#cidade").val("");
				// $("#uf").val("");
				// $("#ibge").val("");
			}

			//Quando o campo cep perde o foco.
			$("#cep").blur(function () {
				//Nova variável "cep" somente com dígitos.
				var cep = $(this).val().replace(/\D/g, '');

				//Verifica se campo cep possui valor informado.
				if (cep != "") {
					//Expressão regular para validar o CEP.
					var validacep = /^[0-9]{8}$/;

					//Valida o formato do CEP.
					if (validacep.test(cep)) {
						//Preenche os campos com "..." enquanto consulta webservice.
						$("#logradouro").val("...");
						$("#bairro").val("...");
						$("#cidade").val("...");
						// $("#uf").val("...");
						// $("#ibge").val("...");

						//Consulta o webservice viacep.com.br/
						$.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (
							dados) {

							if (!("erro" in dados)) {
								//Atualiza os campos com os valores da consulta.
								$("#logradouro").val(dados.logradouro);
								$("#bairro").val(dados.bairro);
								$("#cidade").val(dados.localidade);
								// $("#uf").val(dados.uf);
								// $("#ibge").val(dados.ibge);
							} else {
								//CEP pesquisado não foi encontrado.
								limpa_formulário_cep();
								alertDialog("CEP não encontrado.", "Atenção");
							}
						});
					} else {
						//cep é inválido.
						limpa_formulário_cep();
						alertDialog("Formato de CEP inválido.", "Atenção");
					}
				} else {
					//cep sem valor, limpa formulário.
					limpa_formulário_cep();
				}
			});
		});
	</script>
	<script type="text/javascript">
		$("#cnpj").mask("00.000.000-0000-00");
		$("#cep").mask("00000-000");
		$("#telefone").mask("(00) 0000-0000");
		$("#whatsapp").mask("(00) 00000-0000");
	</script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.easing.min.js}"></script>
	<!-- <script th:src="@{js/sb-admin-2.js}"></script> -->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/fonte.js}"></script>
</body>

</html>