<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Atualizar Cadastro do Aluno</title>

	<!-- Custom fonts for this template-->
	<link rel="shortcut icon" th:href="@{/images/logo-icon.ico}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/dark-mode.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/contras-mode.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<!-- Custom styles for this template-->
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">
	<script type="text/javascript">
		(function(c,l,a,r,i,t,y){
			c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
			t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
			y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
		})(window, document, "clarity", "script", "glxgi3gmgy");
	</script>
</head>

<body id="page-top">
    <header th:replace="fragments/accessibilityBarAdmin :: accessibilityBarAdmin"></header>
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar"
			th:replace="fragments/SidebarAdmin :: SidebarAdmin"></ul>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
					th:replace="fragments/navBarAdmin :: navBarAdmin"></nav>
				<div vw class="enabled" th:replace="fragments/vlibras :: vlibras"></div>

				<div class="container-fluid">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Atualizar Cadastro do Aluno</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a class="text-gray-800" th:href="@{/a}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Atualizar cadastro Aluno</li>
							</ol>
						</nav>
					</div>
					<form class="row g-3 needs-validation" method="POST"
						th:action="@{/a/alunos/atualizar/{cpf}(cpf=${aluno.cpf})}" th:object="${aluno}" novalidate>
						<div class="col-12">
							<label for="nome" class="form-label">Nome de usuário</label>
							<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do usuário"
								required th:value="${aluno.nome}">
							<div class="valid-feedback">
								Parece bom!
							</div>
						</div>
						<div class="col-md-4">
							<label for="RA" class="form-label">RA</label>
							<input type="text" class="form-control" id="ra" name="ra" placeholder="Apenas números"
								th:value="${aluno.ra}" required>
							<div class="invalid-feedback">
								Forneça um RA!
							</div>
						</div>
						<div class="col-md-4">
							<label for="cpf" class="form-label">CPF</label>
							<input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00"
								required th:value="${aluno.cpf}">
							<span id="resposta"></span>
							<div class="invalid-feedback">
								Forneça um CPF!
							</div>
						</div>
						<div class="col-md-4">
							<label for="dataNasc" class="form-label">Data de Nascimento</label>
							<input type="date" class="form-control" id="dataNasc" name="dataNasc" required
								th:value="${aluno.dataNasc}">
							<div class="invalid-feedback">
								Forneça uma Data de Nascimento!
							</div>
						</div>
						<div class="col-md-3">
							<label for="inputZip" class="form-label">Cep</label>
							<input type="text" class="form-control" id="cep" name="cep" placeholder="00000-000" required
								th:value="${aluno.cep}">
							<div class="invalid-feedback">
								Forneça um CEP!
							</div>
						</div>
						<div class="col-md-4">
							<label for="bairro" class="form-label">Bairro</label>
							<input type="text" class="form-control" id="bairro" name="bairro" required
								th:value="${aluno.bairro}">
							<div class="invalid-feedback">
								Forneça um Bairro!
							</div>
						</div>
						<div class="col-md-3">
							<label for="cidade" class="form-label">Cidade</label>
							<input type="text" class="form-control" id="cidade" name="cidade" required
								th:value="${aluno.cidade}">
							<div class="invalid-feedback">
								Forneça um Cidade!
							</div>
						</div>
						<div class="col-md-2">
							<label for="uf" class="form-label">UF</label>
							<input type="text" class="form-control" id="uf" name="uf" required th:value="${aluno.uf}">
							<div class="valid-feedback">
								Parece bom!
							</div>
						</div>
						<div class="col-6">
							<label for="logradouro" class="form-label">Logradouro</label>
							<input type="text" class="form-control" id="logradouro" name="logradouro"
								placeholder="Rua 1234" required th:value="${aluno.logradouro}">
							<div class="invalid-feedback">
								Forneça uma Logradouro!
							</div>
						</div>
						<div class="col-md-3">
							<label for="numero" class="form-label">Número</label>
							<input type="text" class="form-control" id="numero" name="numero" required
								th:value="${aluno.numero}">
							<div class="invalid-feedback">
								Forneça um Número!
							</div>
						</div>
						<div class="col-md-3">
							<label for="complemento" class="form-label">Complemento</label>
							<input type="text" class="form-control" id="complemento" name="complemento"
								th:value="${aluno.complemento}">
							<div class="valid-feedback">
								Parece bom!
							</div>
						</div>
						<div class="col-md-6">
							<label for="telefone" class="form-label">Telefone</label>
							<input type="text" class="form-control" id="telefone" name="telefone"
								placeholder="(xx) xxxx-xxxx" th:value="${aluno.telefone}">
							<div class="valid-feedback">
								Parece bom!
							</div>
						</div>
						<div class="col-md-6">
							<label for="celular" class="form-label">Celular</label>
							<input type="text" class="form-control" id="whatsapp" name="whatsapp"
								placeholder="(xx) xxxxx-xxxx" required th:value="${aluno.whatsapp}">
							<div class="invalid-feedback">
								Forneça um Celular!
							</div>
						</div>
						<div class="col-md-7">
							<label for="email" class="form-label">Email de usuário</label>
							<input type="email" class="form-control" id="email" name="email"
								placeholder="email@email.com" required th:value="${aluno.email}">
							<div class="invalid-feedback">
								Forneça um Email!
							</div>
						</div>
						<div class="col-md-5">
							<label for="senha" class="form-label">Senha</label>
							<input type="password" class="form-control" id="senha" name="senha" required>
							<div class="invalid-feedback">
								Forneça uma Senha!
							</div>
						</div>
						<div class="col-12">
							<label for="curso" class="form-label">Curso</label>
							<input type="text" class="form-control" id="curso" name="curso" placeholder="Curso" required
								th:value="${aluno.curso}">
							<div class="invalid-feedback">
								Forneça um Curso!
							</div>
						</div>
						<div class="col-md-12">
							<label for="habilidade">Habilidade</label>
							<div class="form-floating">
								<textarea class="form-control" placeholder="Habilidade" id="habilidades"
									name="habilidades" style="height: 100px" th:text="${aluno.habilidades}"
									required></textarea>
								<div class="invalid-feedback">
									Forneça um Habilidade!
								</div>
							</div>
						</div>

						<div class="col-12">
							<button type="submit" class="btn btn-primary">Atualizar</button>
						</div>
					</form>
				</div>
			</div>
			<footer class="sticky-footer bg-white" th:replace="fragments/footer :: footer"></footer>

		</div>
	</div>
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    th:replace="fragments/logoutModal :: logoutModal"></div>
	<script th:src="@{/js/cep.js}"></script>
	<script th:src="@{/js/cpf.js}"></script>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.querySelectorAll('.needs-validation')

			// Loop over them and prevent submission
			Array.prototype.slice.call(forms)
				.forEach(function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity()) {
							alertDialog("Atualização realizada com sucesso!", "Sucesso!")
						} else {
							event.preventDefault()
							event.stopPropagation()
						}

						form.classList.add('was-validated')
					}, false)
				})
		})()
	</script>
	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.easing.min.js}"></script>
	<!-- <script th:src="@{js/sb-admin-2.js}"></script> -->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/color-mode-switch.js}"></script>
	<script type="text/javascript">
		$("#cpf").mask("000.000.000-00");
		$("#cep").mask("00000-000");
		$("#telefone").mask("(00) 0000-0000");
		$("#whatsapp").mask("(00) 00000-0000");
	</script>
</body>

</html>