<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Perfil Empresa</title>

	<!-- Custom fonts for this template-->
	<link rel="shortcut icon" th:href="@{/images/logo-icon.ico}" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/dark-mode.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/contras-mode.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.min.css}">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

	<!-- Custom styles for this template-->
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">
	<script type="text/javascript">
		(function(c,l,a,r,i,t,y){
			c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
			t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
			y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
		})(window, document, "clarity", "script", "glxgi3gmgy");
	</script>
</head>

<body id="page-top">
    <header th:replace="fragments/accessibilityBarCompany :: accessibilityBarCompany"></header>
	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
        <!-- <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar" th:replace="fragments/SidebarCompany :: SidebarCompany"></ul> -->

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:replace="fragments/navBarCompany :: navBarCompany"></nav>
                <ul class="nav justify-content-center navbar-light bg-white shadow"
                    th:replace="fragments/navTabsCompany :: navTabsCompany">
                </ul>
                <div vw class="enabled" th:replace="fragments/vlibras :: vlibras"></div>

				<div class="container-fluid">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Perfil Empresa</h1>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a class="text-gray-800" th:href="@{/c}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Perfil Empresa</li>
							</ol>
						</nav>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="card mb-4">
								<div class="card-body text-center">
									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
										alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
									<h5 class="my-3" th:text="${empresa.nome}"></h5>
								</div>
							</div>
							<div class="card mb-4 mb-lg-4">
								<div class="card-body">
									<h5 class="card-title">Descrição</h5>
									<h6 class="card-subtitle mb-2 text-muted">Descrição da Empresa</h6>
									<p class="card-text" th:text="${empresa.descricao}"></p>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="card mb-4">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Nome de usuário</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.nome}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">CNPJ</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.cnpj}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Data de Criação</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.dataCriacao}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Área de Negócio</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.areaNegocio}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Cep</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.cep}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Bairro</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.bairro}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Cidade</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.cidade}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Logradouro</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.logradouro}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Número</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.numero}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Complemento</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.complemento}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">UF</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.uf}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Email da Empresa</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.email}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Telefone</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.telefone}"></p>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<p class="mb-0">Celular</p>
										</div>
										<div class="col-sm-9">
											<p class="text-muted mb-0" th:text="${empresa.whatsapp}"></p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="card mb-4 mb-md-0">
										<div class="card-body">
											<p class="mb-4"><span class="text-primary font-italic me-1">Projeto
													Desenvolvidos</span>
											</p>
											<div class="d-flex justify-content-between align-items-center mb-4">
												<p class="lead fw-normal mb-0">Fotos recentes</p>
											</div>
											<div class="row g-2">
												<div class="col mb-2">
													<img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
														alt="image 1" class="w-100 rounded-3">
												</div>
												<div class="col mb-2">
													<img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
														alt="image 1" class="w-100 rounded-3">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
            <footer class="sticky-footer bg-white" th:replace="fragments/footer :: footer"></footer>

		</div>
	</div>
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
    <div class="modal fade" id="logoutModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    th:replace="fragments/logoutModal :: logoutModal"></div>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.easing.min.js}"></script>
	<!-- <script th:src="@{js/sb-admin-2.js}"></script> -->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/color-mode-switch.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</body>

</html>