<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}">
  <link rel="shortcut icon" th:href="@{/images/logo-icon.ico}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Login</title>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "glxgi3gmgy");
  </script>
  <style>
    body {
      background-image: url(/images/card-6.svg);
    }
    .custom-login-container {
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
  </style>
</head>

<body>
  <div vw class="enabled" th:replace="fragments/vlibras :: vlibras"></div>
  <section>
    <div class="container py-5 custom-login-container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center mb-3">
                    <a href="/">
                      <img th:src="@{/images/logo.png}" style="width: 14rem;" alt="Logotipo do Caça-Talentos">
                    </a>
                  </div>
                  <form th:action="@{/login}" method="post">
                    <p>Por favor, faça login na sua conta:</p>

                    <div class="form-outline mb-4">
                      <input type="text" id="username" name="username" class="form-control"
                        placeholder="Email de usuário" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="password" name="password" class="form-control" placeholder="Senha" />
                    </div>

                    <div class="text-danger">
                      <div th:if="${param.error}">Nome de usuário e senha inválidos.</div>
                      <div th:if="${param.logout}">Você foi desconectado.</div>
                    </div>

                    <div class="text-center d-grid gap-2">
                      <button class="btn btn-danger btn-block gradient-custom-2 mb-1 py-2 border-0 fw-bold"
                        type="submit">Login</button>
                      <a class="text-muted p-3" href="#!">Esqueceu a senha?</a>
                    </div>
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Não tem uma conta?</p>
                      <a class="text-decoration-none" th:href="@{/cadastro/aluno}">
                        <button type="button" class="btn btn-outline-dark">Crie sua conta</button>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">Somos mais que uma empresa</h4>
                  <p class="small mb-0">Nosso intuito é facilitar a busca de estágios para as Fatecs, 
                    oferecendo um sistema simples e completo, com várias funcionalidades que 
                    ajudem os alunos e empresas a se conectarem.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Jn538+Rf5C3D3XvK+klWerY5Pbk8sG1YYo3y4K7bsf6v1q+KGgRxz16yY8lPz6PT" crossorigin="anonymous"></script>
</body>

</html>
