<footer class="sticky-footer bg-white" id="rodape" th:fragment="footer">
    <div class="container my-auto">
        <div class="row justify-content-center mb-3">
            <div class="col-auto">
                <a href="https://www.facebook.com/fateczl.oficial/" target="_blank" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="col-auto">
                <a href="https://twitter.com/Fateczl_oficial" target="_blank" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="col-auto">
                <a href="https://www.linkedin.com/company/faculdade-de-tecnologia-zona-leste-fatec-zl" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="col-auto">
                <a href="" target="_blank" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
            <div class="col-auto">
                <a href="https://www.youtube.com/@fateczl.oficial/videos" target="_blank" class="social-icon">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <span>Caça Talentos <script>document.write(new Date().getFullYear())</script> © Todos os direitos reservados.</span>
            </div>
        </div>
    </div>
</footer>
