<div class="modal fade" id="logoutModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" th:fragment="logoutModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-custom">
            <div class="modal-header">
                <h5 class="text-muted modal-title" id="exampleModalLabel">Pronto para partir?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="text-muted modal-body">Selecione "Logout" abaixo se estiver pronto para encerrar sua sessão
                atual.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>