<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body id="page-top">
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="SidebarAdmin">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img th:src="@{/images/logo-icon-all-white.png}" height="52em"/>
                </div>
                <div class="sidebar-brand-text text-left">
                    <span class="d-block">Caça -</span><span class="d-block ml-3">Talentos</span>
                </div>
            </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/a}">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/a/alunos}">
                <i class="fas fa-fw fa-user"></i>
                <span>Ver lista de alunos</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/a/empresas}">
                <i class="fas fa-fw fa-building"></i>
                <span>Ver lista de empresas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/a/vagas}">
                <i class="fas fa-fw fa-file"></i>
                <span>Ver lista de vaga</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/a/admins}">
                <i class="fas fa-fw fa-users"></i>
                <span>Ver lista admins</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</body>
</html>