<ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar"
    th:fragment="SidebarCompany">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img th:src="@{/images/logo-icon-all-white.png}" height="52em" />
        </div>
        <div class="sidebar-brand-text text-left">
            <span class="d-block">Caça -</span><span class="d-block ml-3">Talentos</span>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/c}">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/c/empresas/consultar/{cnpj}(cnpj=${empresaLogada.cnpj})}">
            <i class="fas fa-fw fa-building"></i>
            <span>Ver perfil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/c/vagas}">
            <i class="fas fa-fw fa-file"></i>
            <span>Ver lista de Vaga</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>