[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-black {
  background-color: #fff !important;
}

[data-theme="dark"] .bg-dark {
  background-color: #eee !important;
}

[data-theme="dark"] .bg-light {
  background-color: #222 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #25282a !important;
}

[data-theme="dark"] .bg-gradient-danger {
  background-color: #3a3e40 !important;
  background-image: linear-gradient(180deg,#3d3f40 10%,#333536 100%) !important;
}

[data-theme="dark"] #content-wrapper {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .card-body {
  background-color: #25282a !important;
  color: #fff !important;
}

