<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" th:href="@{images/frame.ico}" type="image/x-icon">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title th:text="${aluno.nome}"></title>
</head>

<body>
	<a th:href="@{/alunos}"><button>Voltar</button></a>
	<div>
		<span th:text="${aluno.nome}"></span><br>
		<span th:text="${aluno.cpf}"></span><br>
		<span th:text="${aluno.ra}"></span><br>
		<span th:text="${aluno.dataNasc}"></span><br>
		<span th:text="${aluno.logradouro}"></span><br>
		<span th:text="${aluno.cep}"></span><br>
		<span th:text="${aluno.bairro}"></span><br>
		<span th:text="${aluno.cidade}"></span><br>
		<span th:text="${aluno.numero}"></span><br>
		<span th:text="${aluno.complemento}"></span><br>
		<span th:text="${aluno.uf}"></span><br>
		<span th:text="${aluno.whatsapp}"></span><br>
		<span th:text="${aluno.email}"></span><br>
		<span th:text="${aluno.senha}"></span><br>
		<span th:text="${aluno.curso}"></span><br>
		<span th:text="${aluno.habilidades}"></span><br>
	</div>
	
	<a th:href="@{/alunos/atualizar/{cpf}(cpf=${aluno.cpf})}"><button>Editar</button></a>
	<form method="POST" action="#" th:action="@{/alunos/deletar/{cpf}(cpf=${aluno.cpf})}">
		<input type="submit" value="Excluir">
	</form>
</body>

</html>